@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #f1f3fa;
}

.users-list {
  width: 80%;
  border: 2px solid silver;
  margin: 0 auto;
  padding: 20px;
}

.users-list > ul,
li {
  display: flex;
}
.users-list > ul {
  flex-direction: column;
}

.user-item {
  align-items: center;
  width: 100%;
  padding: 5px;
  margin: 5px;
  border: 1px solid rgb(116, 195, 231);
}

.user-item img {
  border: 2px solid rgb(136, 130, 130);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.btn-delete {
  padding: 10px;
  margin-left: auto;
}
